[includeIf "gitdir:~/dev/personal/"]
	path = ~/dev/personal/.gitconfig.thegenem0

[includeIf "gitdir:~/dev/work/"]
	path = ~/dev/work/.gitconfig.work

[core]
	excludesfile = ~/.gitignore

[commit]
	gpgsign = true

[tag]
  gpgsign = true

[format]
  signoff = true
